<p id="notice"><%= notice %></p>
<center>
  <div class="pic_container">
    <div class="main_picture">
      <%= image_tag @picture.file.main.url %>
    </div>
    <div class="stats_box">
      <%= render 'picture_stats', picture: @picture %>
    </div>
  </div>
  <div class="vote_form">
    <%= render 'vote_form', vote: @vote %>
  </div>
</center>
